.aboutContent {
    background-color: #ebebeb;
    height: calc(100vh - 65.5px);
    min-height: 500px;
    min-width: 933px;
    font-family: 'Alata',sans-serif;
    color: #606060;
}

.header {
    margin: 0px 8%;
    padding: 1.2% 0px;
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 600;
}

.innerContent {
    width: 85%;
    height: 75%;
    position: relative;
    left: 7.5%;
    background-color: #ffffff;
    border: 1px solid #000000;
    min-height: 300px;
}

.container {
    margin: 1%;
    min-width: 98%;
}

p {
    width: 100%;
}

.big {
    font-size: large;
}

.credits {
    margin: 0px 2%;
}

.bold {
    color: #000000;
}
